free templates: 
  - Front-end templates 
  - Ai models 

paid templates: 
  - Advanced Front-end templates 
  - Back-end templates 
  - Ai coding subscription 
  - UI&UX

Custom services: 
 - Backend 
 - Frontend 
 - pen-testing 
 - Custom Ai models 
 - UI&UX 
 - Mobile Application 
 - Desktop application 

